body {
    font-family: Arial, sans-serif;
    background-color: #326250;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3ba17a;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

header img {
    max-width: 100px;
    border-radius: 59px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: -15px auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

body {
    font-size: 1rem;
}

@media (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.8rem;
    }
}

a:hover {
    color: #2a4f41;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.text {
    color: white;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
}

.menu a:hover {
    background-color: #2a4f41;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3ba17aba;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 10px 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 100px;
}

.logo img {
    max-width: 100px;
    margin-left: -640%;
}

.imagem-div {
    position: relative;
    display: inline-block;
}

.imagem-div img {
    width: 100%;
    height: auto;
}

.texto-sobre-imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vw; 
    background-color: rgb(30 223 167 / 32%); 
    padding: 10px 20px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .texto-sobre-imagem {
        font-size: 5vw; 
    }
}

@media (max-width: 480px) {
    .texto-sobre-imagem {
        font-size: 6vw; 
        padding: 8px 16px;
    }
}


.container {
    background-color: #326250;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 20px;
}

.feature {
    background-color: #2a4f41;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.feature h3 {
    font-size: 24px;
}

.feature p {
    font-size: 18px;
}

.cta {
    text-align: center;
    margin-top: 20px;
}

.cta a {
    display: inline-block;
    background-color: #006b42;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.servico {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.servico img {
    max-width: 60%;
    height: 60%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.servico h4,
.servico p,
.servico h1 {
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.video {
    text-align: center;
    margin-top: 20px;
}

.map {
    text-align: center;
    margin-top: 20px;
    background-color: #55ab8a;
    border-radius: 5px;
}

.map iframe {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
}

.form {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #3ba17aba;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para a Grid de Imagens */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.grid-item {
    background-color: #2ecc71;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* Altura fixa para os itens da grid */
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

/* Estilos para o Card */

.card-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Permite que os cards quebrem a linha se necessário */
    gap: 20px;
    /* Espaçamento entre os cards */
    margin: 20px 0;
}

.card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    position: relative;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background-color: #ffffff14;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card-front {
    z-index: 2;
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.card-flip .card-front {
    transform: rotateY(-180deg);
}

.card-flip .card-back {
    transform: rotateY(0deg);
}

.card-image {
    width: 100%;
    height: 200px;
    /* Define a altura fixa para as imagens */
    object-fit: cover;
    /* Faz a imagem cobrir o espaço disponível sem distorção */
    border-radius: 8px 8px 0 0;
}

.card-title {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1.2em;
}

.card-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3ba17aba;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
      

.card-button-voltar {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #3ba17aba;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-button:hover,
.card-button-voltar:hover {
    background-color: #2a4f41;
    transform: scale(1.05);
}

/* Estilos para o Carrossel */
.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
}

.carousel-slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-slide.active {
    opacity: 1;
    position: relative;
}

.carousel-slide img {
    width: 100%;
    height: 97%;
    border-radius: 10%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #0fe5b6;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgb(0 0 0 / 0%);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .header {
        padding: 10px;
    }

    .nav-item {
        margin: 5px 0;
    }
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .card-title {
        font-size: 1rem;
    }

    .card-button,
    .card-button-voltar {
        font-size: 0.8rem;
    }
}